*{
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
}
.whatsapp {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 20px;
    bottom: 120px;
    font-size: 16px;
    border-radius:none;
}
.logo{
	    width: 110px !important;
        height: 60px !important;
}
.vt{
    display: flex;
    gap: 120px;
}
.list{
    display: flex;
    list-style-type: none;
    gap: 100px;
}
.list a{
    text-decoration: none;
    color: black;
}
.about{
    background-image:url("backgro.jpg") ;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: fixed;
    height: 350px;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    padding-top: 80px;
}
.r{
    padding-top: 80px;
    display: flex;
}
.grl{
    background-image:url("user-icon.png") ;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: fixed;
}
.info{
    padding-top: 150px;
    background-color: black;
}
.log{
        width: 110px !important;
        height: 60px !important;
}
